<header mat-dialog-title class="dialog-title">
    <h1>Set {{ this.configFieldName | titlecase }}</h1>
    <div class="spacer"></div>
    <a (click)="toggleHint($event, data.type === StartingPathType.Local ? 'local-starting-path-info' : 'remote-starting-path-info')">Info</a>
</header>
<div mat-dialog-content (fmeEnterSubmit)="save()()" [enterSubmitDisabled]="startingPath.invalid">
    <div>
        <p class="modal-text">
            This is the "home" folder the {{ data.type === StartingPathType.Local ? 'Local File System' : 'S3 Bucket' }}
            browser opens to for remote configuration <span
                class="monospace-style">{{ data.transferProfile }}</span> — each time you connect, browsing starts here
            instead of at the top level.
            @if (data.originalStartingPath) {
                <span>
                    If updated, the old value will be overwritten: <br> <span class="monospace-style">{{ data.originalStartingPath }}</span>
                </span>
            }
        </p>

        <mat-form-field color="accent" class="full-width-form-field">
            <mat-label>
                {{ this.configFieldName }}
            </mat-label>
            <input matInput type="text" [formControl]="startingPath">
            @if (!startingPath.value) {
                <mat-hint>
                    If left empty, browsing will start from the root.
                </mat-hint>
            }
            @if (startingPath.hasError('notAbsolutePath')) {
                <mat-error>
                    Needs to be an absolute path
                </mat-error>
            }
        </mat-form-field>
    </div>
</div>

<div mat-dialog-actions class="modal-buttons">
    <fme-button type="stroked" text="Cancel" [onClick]="cancel()"></fme-button>
    <fme-button type="filled" text="Set" [disabled]="startingPath.invalid" [onClick]="save()"></fme-button>
</div>
