<button mat-icon-button [matMenuTriggerFor]="settingsMenu" aria-label="Settings">
    <mat-icon class="settings">settings</mat-icon>
</button>

<mat-menu id="settings" #settingsMenu="matMenu" class="settings" style="width: 400px;">
    <button mat-menu-item (click)="openSettings()" [disabled]="!connected || !allowUiConfiguration">Settings</button>

    <button mat-menu-item (click)="openWorkflowRunner()" [disabled]="!connected">Run a workflow...</button>

    <mat-divider></mat-divider>

    <button mat-menu-item (click)="generateSupportFile()" [disabled]="!connected">Generate Support Package</button>
    <button mat-menu-item (click)="getSupport()">Get Support</button>
</mat-menu>
