<h1 mat-dialog-title>{{ data.mode | titlecase }} Remote Configuration</h1>
<div mat-dialog-content
     (fmeEnterSubmit)="save()()"
     [enterSubmitDisabled]="formInvalid">
    <fme-transfer-profile-form [tutorialMode]="false"
                               [mode]="data.mode"
                               [transferProfile]="transferProfile"
                               (transferProfileEdited)="updateTransferProfileForm($event)">
    </fme-transfer-profile-form>
</div>

<div mat-dialog-actions class="modal-buttons">
    @if (data.mode === 'update') {
        <fme-button class="delete-action" type="stroked" text="Delete" color="warn" [onClick]="delete()"></fme-button>
    }
    <fme-button type="stroked" text="Close" [onClick]="cancel()"></fme-button>
    <fme-button type="filled"
                [text]="data.mode | titlecase"
                [onClick]="save()"
                [disabled]="transferProfileForm.invalid">
    </fme-button>
</div>
